PLACE_PICK_API_URL=https:/$()/placepick.site
GOOGLE_MAP_IOS_API_KEY=AIzaSyCvNVOcAgIbT5YuJu3YMLszkRGf5lOMQfg
GOOGLE_MAP_ANDROID_API_KEY=AIzaSyD62g8WHyrL4gO2uRCFi465W4mI-mlufbI
GOOGLE_PLACE_API_KEY=AIzaSyDFjklWm3LLhHz0l56Ws8N3t1zVDr3S7mg
GOOGLE_LOGIN_IOS_CLIENT_ID=667768264255-1s54ch0ia23nmvfgt211bq3m5ur9cu3s.apps.googleusercontent.com
GOOGLE_LOGIN_AOS_CLIENT_ID=667768264255-v5v5ipdpaleo3rib40nboldvep7k5n8p.apps.googleusercontent.com
APPLE_LOGIN_CLIENT_ID=com.placepick.service
APPLE_LOGIN_REFIRECT_URL=https:/$()/placepick.site/apple/callback
RELEASE_STORE_PASSWORD=placepick2023
RELEASE_KEY_PASSWORD=placepick2023
TEST_ACCESS_TOKEN=eyJhbGciOiJIUzI1NiJ9.eyJzdWIiOiIxMTI0MzYyNzQzOTEzODIxMjY3MDEiLCJyb2xlIjoiUk9MRV9VU0VSIiwiZXhwIjoxOTY4NzUxODU1Nn0._XBU-B0PbT0tQ93oP1ZWoQY6KYPSOdJJy99xJPu8H7w
KAKAO_APP_KEY=3814c20ace4fbb747d27c43b4e6ec033
KAKAO_APP_KEY_WITH_KAKAO=kakao3814c20ace4fbb747d27c43b4e6ec033
CODE_PUSH_ANDROID_PRODUCTION=y-hPJrIPdCFafGsiXB1uhFUkMwU3V1fKB9TKf
CODE_PUSH_IOS_PRODUCTION=arz6LKyqQM8IWO4grwm-pPpUD_FUGBUgnuSxT
CODE_PUSH_ANDROID_STAGING=0EAlHe0JC2lBul4-Igi-UYGEC3JxgP-EncE3B
CODE_PUSH_IOS_STAGING=WZrkno6UqX7NAJNkbmuvfn-siDVFJjWJk2-9B
